# Non-Production Client ID from fhir.epic.com -> Build Apps
EPIC_CLIENT_ID=

EPIC_PRIVATE_KEY_PATH=keys/privatekey.pem
EPIC_JWKS_PATH=keys/jwks.json

EPIC_TOKEN_URL=https://fhir.epic.com/interconnect-fhir-oauth/oauth2/token
EPIC_FHIR_BASE_URL=https://fhir.epic.com/interconnect-fhir-oauth/api/FHIR/R4

# Relative to the repo root
OUTPUT_ROOT=data/raw/epic_fhir
